
<h1><%= current_user.first_name %>'s Plans for <%= @plan.fix_date %></h1>
<h2><%= @notes.length <= 0 ? "No plans so far..." : "" %></h2>

<% @notes.each do |note| %>
    <h2><%= note.name %> at <%= note.fix_time %></h2>
    <%= link_to 'Show Plan', plan_note_path(@plan, note)%>
    <%= link_to 'Edit Plan', edit_plan_note_path(@plan, note)%>
    <%= link_to 'Delete Plan', [@plan, note], method: :delete%>
<% end %>

<br>

<h2>Create New Plan</h2>
<%= link_to 'New Plan', new_plan_note_path%>

<br>

<%= link_to 'Back To Day Plans',  plans_path%>