
<h1><%= current_user.first_name %>'s Plans for <%= @plan.fix_date %></h1>
<h2><%= @notes.length <= 0 ? "No plans so far..." : "" %></h2>

<% @notes.each do |note| %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= note.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">At: <%= note.fix_time %></h6>
    <p class="card-text"><%= note.body %></p>
    <a href="#" class="card-link"><%= link_to 'Show Plan', plan_note_path(@plan, note)%></a>
    <a href="#" class="card-link"><%= link_to '- Edit Plan -', edit_plan_note_path(@plan, note)%></a>
     <a href="#" class="card-link"> <%= link_to 'Delete Plan', [@plan, note], method: :delete%></a>
  </div>
</div>
<% end %>

<br>

<h2>Create New Plan</h2>
<%= link_to 'New Plan', new_plan_note_path%>

<br>

<%= link_to 'Back To Day Plans',  plans_path%>