
<h1><%= current_user.first_name %>'s Notes for <%= @plan.date %></h1>

<% @notes.each do |note| %>
    <h2><%= note.name %></h2>
    <%= link_to 'Show Note', plan_note_path(@plan, note)%>
    <%= link_to 'Edit Note', edit_plan_note_path(@plan, note)%>
    <%= link_to 'Delete Note', [@plan, note], method: :delete%>
<% end %>

<br>

<h2>Create New Note</h2>
<%= link_to 'New Note', new_plan_note_path%>

<br>

<%= link_to 'Back To Plans',  plans_path%>